@import '@styles/shared';

.dialog-content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  width: 100%;
  .image {
    position: relative;
    height: 200px;
    > img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: $radius;
      &.correct {
        // Case where image is a valid url custom
      }

      &.incorrect {
        // Case where image is icon
        filter: blur(3px) drop-shadow(6px 6px 10px red) invert(70%);
      }
    }
    .approbation {
      position: absolute;
      top: 0;
      left: -20px;
      width: 100px;
      height: 100px;
      transform: rotate(-30deg);
      @media only screen and (min-width: $large) {
        width: 130px;
        height: 130px;
      }

      img {
        width: 100%;
        height: 100%;
      }
      &.approved {
        //color: green;
        //border-color: green;
      }
      &.disapproved {
        //color: red;
        //border-color: red;
      }
    }
  }

  .isLoadingImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 0;
  }

  .link {
    position: relative;
    > a {
      position: absolute;
      right: 0;
    }
  }

  .complements,
  .description,
  .ingredients {
    margin: 5px 0;
    white-space: pre-line;
    overflow: hidden;
    overflow-wrap: break-word;
    strong {
      font-family: 'Oswald-Bold', sans-serif;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
  }

  .ingredients {
    img {
      width: 20px;
      height: 20px;
    }
    p {
      margin: 0;
      padding-left: 10px;
    }
  }
  .form-ingredients-listing {
    display: flex;
    flex-direction: column;
    gap: 10px;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 50px;
      width: 100%;
      span {
        max-width: 80%;
        height: 50px;
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
      }
      .quantity {
        height: 100%;
        width: 65px;
      }
    }
  }

  .multiple {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: 50px;
    width: 100%;

    span {
      height: 50px;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    div {
      height: 100%;
      width: 65px;
    }
  }

  hr.add-to {
    width: 100%;
    border-color: $white;
    background-color: $white;
  }
}
