@import '@styles/shared';

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  img {
    width: 100%;
    height: 150px;
    border-radius: $radius;
  }
  .tags {
    display: flex;
    gap: 5px;
  }
  .ingredients-listing {
    p {
      margin: 0;
      padding-left: 10px;
    }
  }
}
