@import '@styles/shared';

.Calendar {
  height: 100%;
  overflow-y: scroll;

  .divers {
  }

  .day {
    h4 {
      color: $white;
      text-align: center;
      margin: 10px;
      text-transform: uppercase;
    }
  }

  hr {
    width: 90%;
  }

  .chips {
    width: 100%;
      display: flex;
      justify-content: center;
    > div {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;

      &.active {
        border: 1px white dotted;
        border-radius: $radius;
        background-color: lighten($backgroundColor, 5%);
        width: 90%;
        text-align: center;
      }
      .MuiChip-root {
        display: flex;
        justify-content: space-between;
        width: 8em;
        span {
          padding: 0 5px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
