@import '@styles/shared';

.articlesList {
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 80%;
  .articlesListForm {
    display: flex;
    gap: 10px;
    .article {
      width: 60%;
    }
    .quantity {
      width: 20%;
    }
  }
}
