@import '@styles/shared';

.Coches {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  .quantity {
    display: flex;
    font-size: 1.4rem;
    gap: 5px;
    &.disabled {
      pointer-events: none;
      color: darken($secondaryText, 33%);
      svg {
        color: darken($secondaryText, 33%);
      }
    }
    div {
      width: 30px;
      height: 30px;
    }
    .value {
      text-align: center;
    }
    svg {
      width: 100%;
      height: 100%;
      &:hover {
        cursor: pointer;
      }
    }
    .add {
      color: $secondary;
    }
    .remove {
      color: $error;
    }
  }

  label {
    &.checked {
      text-decoration: line-through;
    }
  }
}
