@import '@styles/shared';

.Coches {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;

  .disabled {
    pointer-events: none;
    color: darken($secondaryText, 33%);
    svg {
      color: darken($secondaryText, 33%);
    }
  }

  label {
    &.checked {
      text-decoration: line-through;
    }
  }
}
