@import '@styles/shared';

  .MuiChip-root {
    display: flex;
    justify-content: space-between;
    width: 8em;
    span {
      padding: 0 5px;
      width: 100%;
      text-align: center;
    }
  }
