@import 'shared';

.editItem {
  height: 100%;
  overflow-y: scroll;
  .image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    span {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 450px;
      //background-size: contain;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    @media only screen and (min-width: $large) {
      width: 50%;
      margin: 0 auto;
    }

    .inputs {
      width: 80%;

      &:first-child {
        margin-top: 25px;
      }
    }

    .image-web {
      display: flex;
      justify-content: space-between;
      width: 80%;
      align-items: center;
      .inputs {
        margin-top: 0;
        width: 75%;
        @media only screen and (min-width: $large) {
          width: 90%;
        }
      }
      img {
        max-width: 25%;
        align-self: baseline;
        @media only screen and (min-width: $large) {
          width: 10%;
        }
      }
    }
  }

  .actions {
    display: flex;
    gap: 10px;
    text-align: center;
    margin: 25px 0;
  }

  .articlesList {
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
    .articlesListForm {
      display: flex;
      gap: 10px;
      .inputs-article {
        width: 90%;
        display: flex;
        gap: 10px;
        .article {
          width: 75%;
        }
        .quantity {
          width: calc(25% - 10px);
        }
      }
      > button {
        width: 10%;
        align-items: baseline;
      }
    }
    > button {
      @media only screen and (min-width: $large) {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}
