#### BACK END ENVIRONNEMENT ###

### Lignes à changer entre dev et prod
DB_HOST=127.0.0.1
DB_PASSWORD=lefameuxAA
####

DB_PORT=5432
DB_USER=postgres
DB_SCHEMA=
DB_SYNCHRONIZE=true
MODE=DEV

# SANS le / à la fin
# Correspond à l'URL localhost avec le port OU celle de prod visible sur le site web. Avec le http://
FRONT_URL=

# Dupliquer en
#.env -> Pour le local
# .env.prod -> Pour la prod, le fichier sera copié dans le dossier /dist
