@import '@styles/shared';

.item {
  width: calc(50% - $gapItems);

  .itemContent {
    padding: 5px;
    .typo {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: initial;
      font-size: 1.1rem;
      margin-bottom: initial;
      padding-top: 5px;
    }
    img {
        max-width: 100%;
        margin: 0 auto;
      width: auto;
      &.correct {
        // Case where image is a valid url custom
      }

      &.incorrect {
        // Case where image is icon
      }
    }
    .isLoadingImage {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 110px;
      width: 100%;
    }
  }

  .itemActions {
    justify-content: space-between;
    padding: 0 8px;
  }
}

#more-menu ul {
  color: $mainText;
  padding: 0;
  background-color: $backgroundColor;
  li,
  a {
    padding: 0.2rem 10px !important;
    p {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
