@import '../styles/shared';

#root {
  color: $secondaryText;
  header {
    position: fixed;
    top: 0;
    display: flex;
    height: $headerHeight;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .logo {
      position: relative;
      img {
        width: 90px;
      }
      .bouffe {
        position: absolute;
        &.lys {
          width: 15px;
          top: 25px;
          right: 0;
        }

        &.occitan {
          top: 48px;
          right: 5px;
          width: 20px;
        }
      }
    }
    .active button svg {
      color: $secondary;
    }
    button svg {
      color: $white;
    }
  }

  .container {
    margin-top: $headerHeight;
    height: $containerHeight;
  }

  .Tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    border-top: 1px solid $secondaryText;
    a {
      font-family: Oswald-Regular, sans-serif;
      &:not(.Mui-selected) {
        color: $white;
      }
    }
  }
}
