@import '@styles/shared';

.Notes {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;
  h2 {
    text-align: center;
    color: $primary;
  }
  .MuiFormControl-root {
    width: 100%;
  }

  .map-btn {
    width: 50px;
    position: fixed;
    bottom: 85px;
    right: 10px;
    img {
      width: 100%;
      height: 100%;
    }

  }
  .maple404test {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
    width: 100%;
    }
  }
}
